/* Shared Style */

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.btn {
    background-color: #FD6E0A;
    border: none;
    border-radius: 8px;
    padding: 16px 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.section {
    /* border: 1px solid rgb(37, 37, 37); */
    max-width: 81.25%;
    margin: 100px auto 0px auto;
}
.section-heading {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.section-p {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
}

/* Main Style */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

header {
    background-color: #FFF8F3;
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url('../images/developer.png'), url("../images/header_bg.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 23px 38px, right bottom;
}

#navigate {
    /* border: 1px solid rgb(41, 41, 41); */
    display: flex;
    width: 70%;
    margin: 0px auto;
    align-items: center;
    cursor: pointer;
}

.list {
    display: flex;
    list-style-type: none;
    padding: 0px;
    justify-content: space-evenly;
    color: #474747;
    font-weight: 600;
    font-size: 20px;
}

#hero {
    width: 83.25%;
    margin: 50px 50px 87px 200px;
    display: flex;
    gap: 80px;
    align-items: center;
    gap: 150px;
    justify-content: space-between;
}
#hero-content {
    max-width: 500px;
}
#hero-content p:first-child {
    color: #474747;
    font-weight: 600;
    font-size: 45px;
}
#hero-content h2 {
    font-size: 70px;
    font-weight: bold;
    margin: 5px 0px 20px 0px;
}
#hero-content .small-p {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin: 0px 0px 30px 0px;
}
#hero-btn {
    display: flex;
    gap: 30px;
}
#hero-btn button:first-child {
    padding: 12px 8px 12px 35px;
    font-size: 16px;
    background-image: url('../images/icons/import.png');
    background-repeat: no-repeat;
    background-position: 6px center;
    background-size: 26px 26px;
    font-weight: 600;
}
#hero-btn button:last-child {
    padding: 12px 8px 12px 40px;
    font-size: 16px;
    background-image: url("../images/icons/call.png");
    background-repeat: no-repeat;
    background-position: 6px center;
    background-size: 24px 24px;
    font-weight: bold;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 8px;
    background-color: #FFF8F3;
}
#hero-image {
    max-width: 500px;
}

#about {
    padding: 70px;
    background-color: #FFF8F3;
}

#about-info {
    display: flex;
    gap: 50px;
    margin-top: 30px;
}
.info-card {
    font-size: 20px;
    line-height: 30px;
}
.info-card p {
    color: #757575;
    text-align: center;
}
.info-card h3 {
    font-weight: bold;
}

.skill-p {
    margin-top: 30px;
}
#skill-box {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.skill-card {
    /* border: 1px solid gray; */
    padding: 30px;
    box-shadow: 2px 6px 12px #41414149;
    border-radius: 12px;
}
.skill-description h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
.skill-description p {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-top: 20px;
}

#resume-container {
    display: flex;
    gap: 70px;
    margin-top: 80px;
}
#education h3,
#experience h3 {
    font-size: 30px;
    font-weight: bold;
}
.resume-card {
    margin-top: 30px;
}
.resume-card h4 {
    font-size: 25px;
    font-weight: bold;
}
.resume-first-p {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
.resume-second-p {
    color: #757575;
    font-size: 16px;
    line-height: 28px;
    margin-top: 20px;
}
#resume-btn {
    text-align: center;
    margin-top: 50px;
}

#footer {
    background-color: #FFF8F3;
    border: 1px solid black;
    padding: 130px 100px;
    display: flex;
    gap: 100px;
}
#social h2,
#form h2 {
    font-size: 25px;
    font-weight: bold;
}
#social p {
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-top: 20px;
}
#social-media {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    cursor: pointer;
}
input[type="text"],
input[type="email"] {
    border: none;
    background-color: white;
    color: #757575;
    padding: 16px;
    width: 300px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 8px;
}
textarea {
    width: 280px;
    height: 130px;
    padding: 16px;
    font-size: 18px;
}
#form-btn {
    margin-top: 24px;
}
input[type="submit"] {
    padding: 10px 18px;
}